node_modules
.next
out
dist
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test.remote
.DS_Store
/data
coverage
tsconfig.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Temporary files
all_solutions_combined.txt
test_data/
history/
test-data/
