@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Debugger line highlighting */
.debugger-line-highlight {
  background-color: rgba(255, 255, 0, 0.2) !important;
}

.debugger-line-glyph {
  background-color: rgba(255, 255, 0, 0.4);
  width: 10px !important;
  height: 100%;
  margin-left: 3px;
}
